labReport/
messagePassing/client
messagePassing/server
socket/client
socket/server
pipe/pipe
fork/fork
sharedMemory/shared
diningPhilosopher/diningPhilosopher
diningPhilosopher/dining
sharedMemory/shared
server.cpp
client.cpp
server
client